/*
  =======================================
  CSS RESET
  =======================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  =======================================
  MAIN CSS
  =======================================
*/

* {
  padding: 0;
  font-family: Montserrat, sans-serif;
  background: #fffffc;
}

/*
  =======================================
  TYPOGRAPHY
  =======================================
*/

h1 {
  font-weight: 200;
  font-size: 39px;
  text-transform: uppercase;
  line-height: 33px;
  color: #20232a;
}

h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #20232a;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 0.7px;
  color: #982649;
}

.body {
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #1f1f1f;
}

.body-red {
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #982649;
}

.body-grey {
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #535353;
}

/*
  =======================================
  HEADER
  =======================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

header {
  height: 44px;
  width: 100%;
  top: 0px;
  -webkit-box-shadow:0px 1px 3px 0.5px #999999;
  -moz-box-shadow: 0px 1px 3px 0.5px #999999;
    box-shadow: 0px 1px 3px 0.5px #999999;
  position: fixed;
  z-index: 2;
}

.logo {
  height: 25px;
  width: 25px;
  float: left;
  margin-top: 9.5px;
  margin-left: 6%;
}

.header-center {
  float: left;
  margin-top: 17px;
  margin-left: 31%;
  font-weight: 300;
}

.menu {
  height: 17.725px;
  width: 19.5px;
  float: right;
  margin-top: 14px;
  margin-right: 6%;
}

.content-home {
  top: 46px;
  position: absolute;
  z-index: 1;
}

/*
  =======================================
  HOME
  =======================================
*/

.content-home h1 {
  margin-top: 107px;
  margin-left: 45px;
}

.content-home h3 {
  margin-top: 26px;
  margin-left: 48px;
}

.content-home .body {
  margin-top: 75px;
  margin-right: 110px;
  margin-left: 48px;
}

#scroll_down {
  display: block;
  height: 53.245px;
  width: 23.25px;
  margin-top: 133.5px;
  margin-left: 172px;
}

#medium-box {
  width: 276px;
  height: 107px;
  border: 1.1px solid #982649;
  border-radius: 4px;
  margin-top: 131px;
  margin-left: 49.5px;
}

#medium-box h2 {
  margin-top: 17px;
  margin-left: 50.5px;
}

#medium-box .body-grey {
  margin-top: -3px;
  margin-left: 51.5px;
}

#medium-box a {
  text-decoration: none;
}

#nextdoor-box {
  width: 276px;
  height: 107px;
  border: 1.1px solid #982649;
  border-radius: 4px;
  margin-top: 60.5px;
  margin-left: 49.5px;
}

#nextdoor-box h2 {
  margin-top: 17px;
  margin-left: 50.5px;
}

#nextdoor-box .body-grey {
  margin-top: -3px;
  margin-left: 51.5px;
}

#hardware-box {
  width: 276px;
  height: 148.5px;
  border: 1.1px solid #982649;
  border-radius: 4px;
  margin-top: 60.5px;
  margin-left: 49.5px;
  margin-bottom: 113.5px;
}

#hardware-box h2 {
  margin-top: 17px;
  margin-left: 50.5px;
}

#hardware-box .body-grey {
  margin-top: -3px;
  margin-left: 51.5px;
}

/*
  =======================================
  ABOUT
  =======================================
*/

.body-about-sf {
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #1f1f1f;
  margin-top: 114px;
  margin-left: 49px;
}

.h3-about {
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 0.7px;
  color: #982649;
  margin-top: 53.6px;
  margin-left: 48.5px;
}

.body-about-content {
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #1f1f1f;
  margin: 63.4px 49.5px 57.4px 48.5px;
}

.about-button {
  width: 150.5px;
  height: 50.2px;
  border: 1.1px solid #982649;
  border-radius: 4.5px;
  margin-left: 112px;
  margin-bottom: 73.4px;
}

.about-button-text {
  text-align: center;
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  color: #982649;
}

.about-button a {
  text-decoration: none;
}

/*
  =======================================
  CONTACT
  =======================================
*/

.h3-contact {
  margin-top: 151px;
  margin-left: 48.5px;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 0.7px;
  color: #982649;
}

.body-contact {
  margin-top: 50.9px;
  margin-left: 48.5px;
  margin-right: 87.5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #1f1f1f;
}

.body-contact-e {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #535353;
  margin-top: 38px;
  margin-left: 48px;
}

.body-contact-email {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #982649;
  margin-top: 38px;
  margin-left: 10px;
}


.body-contact-p {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #535353;
  margin-top: 4px;
  margin-left: 48px;
}

.body-contact-phone {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #982649;
  margin-top: 4px;
  margin-left: 9.5px;
}

.body-contact-email a, .body-contact-phone a {
  text-decoration: none;
  color: #982649;
}

.contact-linkedin {
  width: 20.7px;
  height: 20.5px;
  margin-top: 56.6px;
  margin-left: 49.5px;
}

.contact-vimeo {
  width: 20.7px;
  height: 18.2px;
  margin-top: 58.9px;
  margin-left: 19.2px;
}

/*
  =======================================
  MEDIUM PAGE
  =======================================
*/

.medium-body {
  max-width: 100%;
  overflow-x: hidden;
}

.medium-splash-bg {
  height: 667px;
  width: 100%;
  background: #535353;
}

.medium-logo {
  width: 151.5px;
  height: 32px;
  margin-top: 127.5px;
  margin-left: 115.5px;
  background: none;
}

.medium-splash {
  width: 375px;
  height: 372.5px;
  margin-top: 54.8px;
  background: none;
}

/*
  =======================================
  MEDIUM CONTEXT
  =======================================
*/

.medium-context-h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #20232a;
  margin-top: 105px;
  margin-left: 58px;
  margin-right: 81px;
}

.medium-context-top {
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #1f1f1f;
  margin-top: 30.8px;
  margin-right: 41px;
  margin-left: 58px;
}

.medium-context-bottom {
  font-weight: 300;
  font-size: 16px;
  line-height: 29.2px;
  color: #1f1f1f;
  margin-top: 13px;
  margin-right: 41px;
  margin-left: 58px;
}

/*
  =======================================
  MEDIUM FEATURES
  =======================================
*/

.medium-feature-bg {
  height: 2117.5px;
  width: 100%;
  margin-top: 145.3px;
  background: #535353;
}

.medium-feature-h1 {
  font-weight: 200;
  font-size: 39px;
  text-transform: none;
  line-height: 33px;
  color: #fffffc;
  padding-top: 97px;
  margin-left: 103.5px;
  background: none;
}

.medium-feature-img-1 {
  width: 182.5px;
  height: 366.5px;
  background: none;
  display: block;
  margin-left: 96.5px;
  margin-top: 77.5px;
}

.medium-feature-h2-1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #fffffc;
  margin-top: 54px;
  margin-left: 48.5px;
  background: none;
}

.medium-feature-body-1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 27.6px;
  color: #fffffc;
  background: none;
  margin-top: 19px;
  margin-left: 48px;
  margin-right: 56px;
}

.medium-feature-img-2 {
  width: 182.5px;
  height: 366.5px;
  background: none;
  display: block;
  margin-left: 96.5px;
  margin-top: 65.3px;
}

.medium-feature-h2-2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #fffffc;
  margin-top: 54px;
  margin-left: 48.5px;
  background: none;
}

.medium-feature-body-2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 27.6px;
  color: #fffffc;
  background: none;
  margin-top: 19px;
  margin-left: 48px;
  margin-right: 56px;
}

.medium-feature-img-3 {
  width: 182.5px;
  height: 366.5px;
  background: none;
  display: block;
  margin-left: 96.5px;
  margin-top: 65.3px;
}

.medium-feature-h2-3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #fffffc;
  margin-top: 54px;
  margin-left: 48.5px;
  background: none;
}

.medium-feature-body-3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 27.6px;
  color: #fffffc;
  background: none;
  margin-top: 19px;
  margin-left: 48px;
  margin-right: 56px;
}

/*
  =======================================
  MEDIUM CTA
  =======================================
*/

.medium-cta-bg {
  height: 667px;
  width: 100%;
}

.medium-cta-h1 {
  font-weight: 200;
  font-size: 39px;
  text-transform: none;
  line-height: 50.7px;
  color: #20232a;
  text-align: center;
  margin-top: 193.5px;
}

.medium-cta-button {
  width: 150.5px;
  height: 58.5px;
  border: 1.1px solid #982649;
  border-radius: 4.5px;
  margin-left: 112.5px;
  margin-top: 72.6px;
}

.medium-cta-button-text {
  text-align: center;
  margin-top: 21px;
  font-weight: 300;
  font-size: 16px;
  color: #982649;
}

.medium-cta-button a {
  text-decoration: none;
}

.medium-cta-top-icon {
  width: 43px;
  height: 43px;
  margin-left: 166px;
  margin-top: 99px;
}

.medium-cta-top-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 27.6px;
  color: #535353;
  margin-top: 14.5px;
  margin-left: 150px;
}