@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  h1 {
    font-size: 48px;
  }
  div p, div p a {
    font-size: 20px;
  }
  div {
    max-width: 50%;
    margin: 0 5%;
  }
  header {
    margin: 25px 5% 0;
  }
  
  #logo {
    margin-top: 30px;
  }
    
  #images {
  max-width: 100%;
  }
}